JAXB/schema/xsd/核心服务协议/销售品实例/PROD_OFFER_INST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by et8 (et8) -->
<xs:schema xmlns:comm="http://www.chinatelecom.com/crm/comm/" xmlns:prod="http://www.chinatelecom.com/crm/prod/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prod_inst_bo="http://www.chinatelecom.com/crm/prod_offer_inst_bo/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.chinatelecom.com/crm/prod_offer_inst_bo/" schemaLocation="..\PROD_OFFER_INST_BO.xsd"/>
	<xs:import namespace="http://www.chinatelecom.com/crm/comm/" schemaLocation="..\COMM.xsd"/>
	<xs:complexType name="ADD_PROD_OFFER_INST_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>增加销售品实例输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST" type="prod_inst_bo:PROD_OFFER_INST_TYPE">
				<xs:annotation>
					<xs:documentation>销售品实例</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MOD_PROD_OFFER_INST_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>修改销售品实例输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST" type="prod_inst_bo:PROD_OFFER_INST_TYPE">
				<xs:annotation>
					<xs:documentation>商机销售对象</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DEL_PROD_OFFER_INST_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>删除销售品实例输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ID" type="xs:string">
				<xs:annotation>
					<xs:documentation>销售品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_PROD_OFFER_INST_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_REQ" type="comm:QRY_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>客户标识</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>产品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_PROD_OFFER_INST_RES_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例输出</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_RES" type="comm:PUB_RES_TYPE">
				<xs:annotation>
					<xs:documentation>通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_RES" type="comm:QRY_RES_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST" type="prod_inst_bo:PROD_OFFER_INST_TYPE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>销售品实例</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAVE_PROD_OFFER_INST_ATTR_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>保存销售品实例属性输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ATTR" type="prod_inst_bo:PROD_OFFER_INST_ATTR_TYPE" maxOccurs="50">
				<xs:annotation>
					<xs:documentation>销售品实例属性</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_PROD_OFFER_INST_ATTR_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例属性输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_REQ" type="comm:QRY_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>客户标识</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>产品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_PROD_OFFER_INST_ATTR_RES_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例属性输出</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_RES" type="comm:PUB_RES_TYPE">
				<xs:annotation>
					<xs:documentation>通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_RES" type="comm:QRY_RES_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ATTR" type="prod_inst_bo:PROD_OFFER_INST_ATTR_TYPE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>销售品实例属性</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADD_PROD_OFFER_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>增加销售品实例关联关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_REL" type="prod_inst_bo:PROD_OFFER_INST_REL_TYPE">
				<xs:annotation>
					<xs:documentation>销售品实例关联</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DEL_PROD_OFFER_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>删除销售品实例关联关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_REL_ID">
				<xs:annotation>
					<xs:documentation>销售品实例关系ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_PROD_OFFER_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例关联关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_REQ" type="comm:QRY_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售品实例Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>客户标识</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>产品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_PROD_OFFER_INST_REL_RES_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例关联关系输出</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_RES" type="comm:PUB_RES_TYPE">
				<xs:annotation>
					<xs:documentation>通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_RES" type="comm:QRY_RES_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_REL" type="prod_inst_bo:PROD_OFFER_INST_REL_TYPE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>销售品实例关联</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADD_OFFER_PROD_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>增加销售品产品实例关联关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OFFER_PROD_INST_REL" type="prod_inst_bo:OFFER_PROD_INST_REL_TYPE">
				<xs:annotation>
					<xs:documentation>销售品产品实例关联</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DEL_OFFER_PROD_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>删除销售品产品实例关联关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OFFER_PROD_INST_REL_ID" type="xs:string">
				<xs:annotation>
					<xs:documentation>销售品产品实例关系ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_OFFER_PROD_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品产品实例关联关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_REQ" type="comm:QRY_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>客户标识</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>产品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_OFFER_PROD_INST_REL_RES_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品产品实例关联关系输出</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_RES" type="comm:PUB_RES_TYPE">
				<xs:annotation>
					<xs:documentation>通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_RES" type="comm:QRY_RES_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OFFER_PROD_INST_REL" type="prod_inst_bo:OFFER_PROD_INST_REL_TYPE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>销售品产品实例关联</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ADD_OFFER_RES_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>增加销售品实例与营销资源实例关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OFFER_RES_INST_REL" type="prod_inst_bo:OFFER_RES_INST_REL_TYPE">
				<xs:annotation>
					<xs:documentation>销售品营销资源实例关系</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DEL_OFFER_RES_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>删除销售品实例与营销资源实例关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORDER_REQ" type="comm:ORDER_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>订单通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OFFER_RES_INST_REL_ID" type="xs:string">
				<xs:annotation>
					<xs:documentation>销售品营销资源实例关系ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_OFFER_RES_INST_REL_REQ_TYPE">
		<xs:annotation>
			<xs:documentation>查询销售品实例与营销资源实例关系输入</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_REQ" type="comm:PUB_REQ_TYPE">
				<xs:annotation>
					<xs:documentation>通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_REQ" type="comm:QRY_REQ_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_OFFER_INST_ID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售品实例Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>客户标识</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROD_INST_ID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>产品实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QRY_OFFER_RES_INST_REL_RES_TYPE">
		<xs:annotation>
			<xs:documentation>增加销售品实例与营销资源实例关系输出</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PUB_RES" type="comm:PUB_RES_TYPE">
				<xs:annotation>
					<xs:documentation>通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRY_RES" type="comm:QRY_RES_TYPE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查询通用输出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OFFER_RES_INST_REL" type="prod_inst_bo:OFFER_RES_INST_REL_TYPE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>销售品营销资源实例关系</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
